<!DOCTYPE html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="../../public/assets/images/logo.png">
    <title>Adventure Awaits!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--JavaScript-->
    <script src="../../public/assets/js/jquery.js"></script>
    <script src="../../public/assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
</head>

<body>
            {{{ body }}}
    <footer class="page-footer transparent">
            <div class="row">
                <div class="col l12 s12">
                    <p class="white-text">Copyright &copy; <span id="date"></span> Ross Blair. Michael Malley. Matt Sullivan. Melissa Webb. Built for UNH Coding Bootcamp.</p>
                </div>
            </div>
    </footer>
</body>
</html>