<!DOCTYPE html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="../../public/assets/images/logo.png">
    <title>Adventure Awaits!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--JavaScript-->
    <script src="../../public/assets/js/jquery.js"></script>
    <script src="../../public/assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
</head>

<body>
    <header>
        <div class="row">
        <div class="col s5">
            <button><img id="home" src="../../public/assets/images/home.png" alt="home button" /></button>
        </div>
    </div>
        <h4 class="title col s12">Adventure Awaits!</h4>
    </header>
    <div class="container">
        <main>
            <div class="row">
                <div class="instruct col s12">
                    <p class="instruct">Adventure Awaits! is an interactive choose-your-own-adventure story for students in grades 6 - 8. After choosing a story, students will go on an exciting adventure through time and space created collaboratively by their peers. Once they reach the end of the adventure and choose a direction to go in, they will continue the adventure in their own words.</p>
                    <p class="instruct">Here's how it works:</p>
                    <ol class="instruct">
                        <li>Choose your favorite genre and click on the button</li>
                        <li>Read through the story</li>
                        <li>When asked to make a decision, choose a direction and click the button</li>
                        <li>Now for the fun part - continue writing the story from here!</li>
                    </ol>
                </div>
            </div>
    </div>
    <main>
    <div class="row">
        <div class="col s12">
            <button><img id="scifi" src="../../public/assets/images/SciFi.png" alt="scifi button" /></button>
        </div>
    </div>
    <div>
        <div class="col s12">
            <button><img id="mystery" src="../../public/assets/images/mystery.png" alt="mystery button" /></button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button><img id="vamps" src="../../public/assets/images/vamps.png" alt="vamps button" /></button>
        </div>
    </div>
    <div>
        <div class="col s12">
            <button><img id="adv" src="../../public/assets/images/adv.png" alt="adventure button" /></button>
        </div>
    </div>
    <!--{{{ body }}}-->
    </div>
    <footer class="page-footer transparent">
        <div class="row">
            <div class="col l12 s12">
                <p class="white-text">Copyright &copy; <span id="date"></span> Ross Blair. Michael Malley. Matt Sullivan. Melissa Webb. Built for UNH Coding Bootcamp.</p>
            </div>
        </div>
    </footer>
</body>
<script>
var today = new Date();
document.getElementById("date").textContent = today.getFullYear();
</script>

</html>