<body>
  <header>
    <div class="row">
      <div class="col s12">
        <h4>
          <a href="/">Add a new {{ data.story_id }} story!</a>
        </h4>
      </div>
    </div>
  </header>
  <main>
    <div class="container formfield">
      <div class="row">
        <div class="col s12">
          <p class="instruct">Now that you've decided which direction our hero should go, use the space below to continue the adventure...</p>
        </div>
      </div>
      <div class="row">
        <form action="/{{ data.story_id}}/{{ data.page_parent_id }}" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="story" class="materialize-textarea instruct" data-length="4000" name="page_text"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="instruct">Before you leave, create two choices for our hero to choose from. Choices could include which direction to go in, which door to go through, or which magic potion to drink...it's up to you! Make them good, though, because the next adventurer will continue the story from here!</p>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <p class="instruct">Choice 1:</p>
              <div class="input-field">
                <input id="choice1" type="text" class="validate" name="page_choice_text1" required>
              </div>
            </div>
            <div class="col s6">
              <p class="instruct">Choice 2:</p>
              <div class="input-field">
                <input id="choice2" type="text" class="validate" name="page_choice_text2" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button class="btn index right" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer class="page-footer transparent">
    <div class="row bottom">
      <div class="col l12 s12">
        <p class="white-text">Copyright &copy; 2017 Ross Blair. Michael Alley. Matt Sullivan. Melissa Webb. University of New Hampshire.</p>
      </div>
    </div>
  </footer>
</body>