<header>
<div class="container">
    <div class="row">
        <h4 class="col l12 s12">Adventure Awaits!</h4>
    </div>
</div>
</header>

<main>
<div class="container">
    <div class="row">
        <div class="col s12">
        	<p>Adventure Awaits! is an interactive choose-your-own-adventure story for students in grades 6 - 8. After choosing a story, students will go on an exciting adventure through time and space created collaboratively by their peers. Once they reach the end of the adventure and choose a direction to go in, they will continue the adventure in their own words.</p>
        	<p>Here's how it works:</p>
        		<ol>
        			<li>Choose your favorite genre and click on the button</li>
        			<li>Read through the story</li>
        			<li>When asked to make a decision, choose a direction and click the button</li>
        			<li>Now for the fun part - continue writing the story  and leave two choices
                        for the next adventurer to make for our hero!</li>
        		</ol>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col s5">
            <button><img id="scifi" src="../../public/assets/images/SciFi.png" alt="scifi button" /></button>
        </div>
        <div class="col s5 offset-s2">
            <button><img id="mystery" src="../../public/assets/images/mystery.png" alt="mystery button" /></button>
        </div>
    </div>
        <div class="row">
            <div class="col s5">
                <button><img id="vamps" src="../../public/assets/images/vamps.png" alt="vamps button" /></button>
            </div>
            <div class="col s5 offset-s2">
                <button><img id="adv" src="../../public/assets/images/adv.png" alt="adventure button" /></button>
            </div>
    </div>
</main>
