<main>
  <h4 class="genre">{{ genre }}</h4>

  <p>Read through the story below. Once you have read through, choose the button for the direction that you'd like
  to continue writing the story.</p>

  <p>{{ story.id }}</p>


  <button>{{ choice1 }}</button>
  <button>{{ choice2 }}</button>

</main>