body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-image: url("../images/background2.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     font-family: "Arial", sans-serif;
}

main {
     flex: 1 0 auto;
}

.main-box {
     border: 2px solid black;
     background-color: white;
}

.formfield {
     border: 2px solid black;
     background-color: white;
     padding: 20px;   
}

/*Styles for index*/
.index-container {
     max-width:300px;
}

button {
     background-color: transparent;
     background-repeat: no-repeat;
     border: none;
     cursor: pointer;
     overflow: hidden;
     outline: none;
}

.index {
     background-color: #361E1C;
     color: #fff;
}

.index:hover {
     background-color: #fff;
     color: #361E1C;
}

.instruct {
     color: #361E1C;
     font-size: 16px;
     font-weight: bold;
}

.images {
     width: 210px;
     padding: 0px;
}

h4 {
     text-align: center;
     color: #1b5e20;
     font-family: 'Chewy', cursive;
     font-size: 50px;
}

.bottom {
     margin-bottom: 0px;
     height: 155px;
}

/*Styles for form & story*/
.choice {
     text-align: center;
}

/*SciFi Styles*/
.Sci-Fi {
     background-image: url("../images/backgroundSciFi.jpg");
     color: midnightblue;
}

.Sci-Fi a {
     font-family: "Audiowide", cursive;
}

.Sci-Fi-button {
     background: #1a237e;
     color: #fff;
}

/*Vampire Styles*/
.Vampires {
     background-image: url("../images/backgroundVampire.jpg");
     color: darkorange;
}

.Vampires a {
     font-family: "Nosifer", cursive;
     color: black;
}

.Vampires-button {
     background: black;
     color: white;
}

.Vampires-button:hover {
     background: white;
     color: black;
     font-weight: bold;
}

/*Adventure Styles*/
.Adventure {
     background-image: url("../images/backgroundAdv.jpg");
     color: #4a148c;
}

.Adventure a {
     font-family: "Titan One", cursive;
     color: #4a148c;
}

.Adventure-button {
     background: #4a148c;
     color: #fff;
}

.Adventure-button:hover {
     background: white;
     color: #4a148c;
     font-weight: bold;
}

/*Mystery Styles*/
.Mystery {
     background-image: url("../images/backgroundMystery.jpg");
     color: black;
}

.Mystery a {
     font-family: "Averia Libre", cursive;
     color: white;
}

.Mystery-button {
     background: sienna;
     color: #000;
}

.Mystery-button:hover {
     background: #000;
     color: #ffffff;
     font-weight: bold;
}

/*Footer Styles*/
.footerHeight {
     margin-bottom: 0px;
}

footer {
     text-align: center;
     padding: 0px;
     height: 20px;
     margin-bottom: 0px;
}